body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin :0 auto;
    text-align: center;
}
header{
    background-color: rgb(205, 214, 211);
    width: 100%;
    display: inline-flex;
    position: fixed;
 
}
.header-nav{
    float: right;
}

.header-nav a{
    color: black;
    font-size: 17px;
    font-weight: bold;
    float: left;
    display: block;
    padding: 20px;

}
.header-nav a:hover{
    background-color: rgb(176, 228, 135);
}

#banner{
    background-color: rgb(176, 228, 135);
    padding: 10px;
    text-align: center;
    color: white;
}
.banner-wrapper h1{
    font-size: 100px;
    margin: 0;
}
#welcome{
    margin-top: 150px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 25px;
}
.banner-text{
    width: 25%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 70px;
}
.project-wrapper{
    display: flex;
    justify-content: center;
}
#projects{
    padding: 80px 0;
    

}
.project{
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border: 3px solid rgb(122, 119, 114);  
}

.project:hover{
    border:5px solid rgb(176, 228, 135);
}


.project img{
    width: 100%;
}

.profile-wrapper{
    background-color: rgb(176, 228, 135);
    color: #fff;
    display: flex;
    padding: 150px 100px;
}
.profile-pic img{
    width: 300px;
    border-radius: 50%;
}

#kontak ul{
    text-align: left;
}

 footer{
     padding: 20px;
 }

.kontak-wrapper{
   display: flex;
   padding:50px 50px;
 
}
.kontak-wrapper h2, ul{
    font-size: 30px;
}
.info{
    width: 70%;
}
.info1{
    width: 30%;
    text-align: left;
    font-weight: bold;
   
}



 @media (max-width:670px){
     .banner-wrapper,
     .banner-text,
     .project-wrapper,
     .project{
         width: 100%;
     }
     .project-wrapper{
        flex-direction: column;
    }
     .banner-wrapper h1{
         font-size: 40px;
     }

     .profile-pic img{
         width: 200px;
     }
     #profile.bioku h1, h2{
         font-size: 15px;

     }
     .info1,.info{
         width: 100%;
         padding: 0;
     }
     .info1{
       text-align: center;
     }
     .info h2{ 
         width: 100%;
         font-size: 15px;
     }
     .info1 ul{
        width: 100%;
        font-size: 15px;
        font-weight: bold;
     }
     .kontak-wrapper{
         flex-direction: column;
     }
 }
